header {
  background-image: url("./maquette-main/loopstudios-landing-page-main/images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 40px;
}

nav {
  display: flex;
  margin: 0;
}

ul {
  display: flex;
}
li {
  margin: 0px 20px;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: white;
  font-size: 40px;
  border: 3px solid;
  padding: 30px;
}
